NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD-sE9-djbF3SJK4QL7KSEHftyEFt5e8eQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=novaivest.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=novaivest
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=novaivest.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=285844564394
NEXT_PUBLIC_FIREBASE_APP_ID=1:285844564394:web:1ed22b4ab898ba3d94e3d3
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-F9YT29GHJN
